@using LopHocTrucTuyen.Models;

@model IEnumerable<LopHocTrucTuyen.Models.KhoaHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGiangVien.cshtml";
}

@if (TempData["ThongBao"] != null)
{
    <p>Thông báo: @TempData["ThongBao"]</p>
}

<h2>
    Xin chào bạn, @{
        GiangVien ng = Session["user"] as GiangVien;
        <span>@ng.HoTen</span>
}
</h2>

<p>Dưới đây là các khóa học bạn đã tạo gần đây:</p>
<div class="container mt-4">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm">
                    @if (item.AnhBia != null)
                    {
                        <img src="~/Content/GiangVien/HinhAnh/KhoaHoc/@Html.DisplayFor(modelItem => item.AnhBia)" class="card-img-top" alt="Ảnh bìa" style="height: 200px; object-fit: cover;">
                    }
                    else
                    {
                        <img src="~/Content/GiangVien/HinhAnh/Base/education-high-resolution-logo.png" class="card-img-top" alt="Ảnh bìa mặc định" style="height: 200px; object-fit: cover;">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenKhoaHoc)</h5>
                        <p class="mt-2">
                            Trạng thái:
                            @if (item.TrangThai == true)
                            {
                                <span class="badge bg-success">Đã duyệt</span>
                            }
                            else
                            {
                                <span class="badge bg-warning text-dark">Chưa duyệt</span>
                            }
                        </p>
                        <a href="/GiangVien/KhoaHoc/?makh=@Html.DisplayFor(modelItem => item.MaKhoaHoc)" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>